/* Base Styles Start */

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Archivo", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif; */
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.section-spacing {
  padding-top: 80px;
}

/* Base Styles End */

/* Header Part CSS Start */

/* Navigation Menu Section CSS Start */

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff;
  padding: 15px 0;
  z-index: 999;
}

.nav-link,
.nav-link:hover {
  font-family: "Archivo", sans-serif;
  color: #666666;
  padding: 12px 25px !important;
}

.nav-btn a,
.nav-btn a:hover {
  background: #2167f3;
  color: #ffffff;
  border-radius: 4px;
}

/* Navigation Menu Section CSS End */

/* Hero Section CSS Start */

.hero-wrapper {
  background: #2167f3;
  padding-top: 160px;
  margin-top: 64px;
}

.hero-shape {
  background: url(../images/hero-shape.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 275px;
  margin-top: -110px;
}

.hero-content h2 {
  font-family: "Archivo", sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 130%;
  color: #ffffff;
}

.hero-content p {
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 180%;
  color: #f2f6fe;
  padding-top: 25px;
}

.hero-buttons {
  padding-top: 70px;
  padding-bottom: 40px;
}

.button-fill,
.button-fill:hover {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  background: #ffffff;
  color: #2167f3;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 20px 40px;
  margin-right: 20px;
}

.button-outline,
.button-outline:hover {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 20px 40px;
}

/* Hero Section CSS End */

/* Header Part CSS End */

/* Main Part CSS Start */

/* Company Section CSS Start */

.company-top h3 {
  font-family: "Archivo", sans-serif;
  font-size: 33px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}

.company-top p {
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.63);
  padding-top: 5px;
}

.company-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  padding-top: 50px;
}

.company-item {
  text-align: center;
  padding: 20px 30px;
  border-radius: 24px;
}

.company-btn a {
  display: block;
  font-family: "Archivo";
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.68);
  padding-top: 20px;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.company-item:hover {
  border: 2px solid #3189f9;
}

.company-item:hover .company-btn a {
  opacity: 1;
}

.company-btn a img {
  padding-left: 5px;
}

/* Company Section CSS End */

/* Pricing Section CSS Start */

.pricing-top {
  max-width: 500px;
  width: 100%;
  margin: auto;
  text-align: center;
}

.pricing-top h3 {
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0.3px;
  color: #222222;
}

.pricing-top p {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #838383;
  padding-top: 10px;
}

.single-plan {
  background: #ffffff;
  box-shadow: 2px 2px 36px rgba(0, 0, 0, 0.16);
  border-radius: 13px;
  margin: 50px 30px;
}

.owl-carousel .owl-item img {
  width: auto;
}

.owl-nav {
  display: block !important;
}

.owl-prev,
.owl-next {
  width: 50px;
  height: 50px;
  background: #ffffff !important;
  border-radius: 100% !important;
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.16);
}

.owl-prev:hover,
.owl-next:hover {
  background: #ffffff !important;
}

.owl-prev {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 25px;
}

.owl-next {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: -25px;
}

.pricing-plan-top {
  padding: 40px 35px 10px;
}

.pricing-plan-top h3 {
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0.3px;
  color: #222222;
}

.pricing-plan-top h2 {
  font-family: "Montserrat";
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  color: #2167f3;
}

.pricing-plan-top h2 span {
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #000000;
}

.pricing-plan-top p {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #838383;
}

.single-plan hr {
  color: #a8a8a8;
}

.pricing-plan-bottom a {
  display: block;
  width: 150px;
  margin: 30px auto;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background: #3189f9;
  color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 109, 174, 0.1);
  text-align: center;
  padding: 18px;
  border-radius: 30px;
}

.pricing-plan-bottom {
  padding: 0 30px;
}

.pricing-plan-bottom li {
  display: flex;
  align-items: center;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.73);
  padding-bottom: 25px;
}

.pricing-plan-bottom li img {
  margin-right: 10px;
}

.pricing-btn a {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.83);
}

/* Backup Storage CSS */

.backup-storage-top {
  padding: 50px 0;
}

.backup-storage-top p {
  font-family: "Poppins";
  font-size: 21px;
  font-weight: 500;
  line-height: 32px;
  color: #000000;
}

.backup-storage-top h4 {
  max-width: 500px;
  margin: auto;
  font-family: "Poppins";
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  color: rgba(0, 0, 0, 0.7);
}

.backup-storage-top h4::before,
.backup-storage-top h4::after {
  position: absolute;
  content: "";
  width: 250px;
  height: 3px;
  background: #3189f9;
  border-radius: 50px;
}

.backup-storage-top h4::before {
  top: 15px;
  left: -115px;
}

.backup-storage-top h4::after {
  top: 15px;
  right: -115px;
}

.backup-storage-container {
  background: rgba(49, 137, 249, 0.08);
  border: 3px solid rgba(49, 137, 249, 0.23);
  border-radius: 18px;
  padding: 45px 60px;
}

.backup-storage-plans li {
  font-family: "Archivo";
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  color: #000000;
  padding: 25px 0;
}

.backup-storage-plans li img {
  padding-right: 15px;
}

/* Pricing Section CSS End */

/* Hosting Section CSS Start */

.hosting-wrapper {
  background: #3189f9;
  padding: 80px 0;
}

.hosting-bg {
  background: url(../images/hosting-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 275px;
  margin-top: -110px;
}

.hosting-top {
  margin-bottom: 80px;
}

.hosting-top::after {
  position: absolute;
  content: "";
  bottom: -15px;
  left: 50%;
  transform: translate(-50%);
  width: 200px;
  height: 5px;
  background: #ffffff;
  border-radius: 17px;
}

.hosting-top h2 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.hosting-content p {
  max-width: 600px;
  font-family: "Montserrat";
  font-size: 26px;
  font-weight: 600;
  line-height: 51px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.hosting-img h6 {
  font-family: "Montserrat";
  font-size: 26px;
  font-weight: 600;
  line-height: 51px;
  letter-spacing: 0.2px;
  color: #ffffff;
  padding-top: 20px;
}

.hosting-shape1 {
  position: absolute;
  top: 110px;
  right: 0;
}

.hosting-shape2 {
  position: absolute;
  bottom: 120px;
  left: 0;
}

.hosting-shape3 {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translate(-50%);
}

/* Hosting Section CSS End */

/* Services Section CSS Start */

.services-buttons {
  padding-bottom: 50px;
}

.services-buttons .nav {
  max-width: 410px;
  margin: auto;
  justify-content: center;
  background: #ffffff;
  box-shadow: 2px 2px 37px rgba(0, 0, 0, 0.14);
  border-radius: 50px;
}

.services-buttons .nav-link {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #000000;
  padding: 20px 30px !important;
}

.services-buttons .nav-link.active {
  background: #3189f9;
  padding: 20px 30px !important;
  border-radius: 50px;
}

.services-content h6 {
  position: relative;
  font-family: "Montserrat";
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #000000;
  padding-bottom: 15px;
}

.services-content h6::after {
  position: absolute;
  content: "";
  width: 140px;
  height: 5px;
  left: 0;
  bottom: 0;
  background: #000000;
  border-radius: 23px;
}

.services-content p {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.69);
  padding-top: 20px;
  padding-bottom: 40px;
}

.services-content a,
.services-content a:hover {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  background: #3189f9;
  color: #ffffff;
  border: 1px solid #3189f9;
  border-radius: 4px;
  padding: 20px 40px;
  margin-right: 20px;
}

/* Services Section CSS End */

/* Features Section CSS Start */

.features-wrapper {
  background: rgba(0, 0, 0, 0.69);
  padding: 60px 0 30px;
}

.features-top {
  max-width: 900px;
  margin: auto;
  padding-bottom: 40px;
}

.features-top h5 {
  font-family: "Poppins";
  font-size: 28px;
  font-weight: 600;
  line-height: 44px;
  color: #000000;
}

.features-top p {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: #000000;
  padding-top: 20px;
}

.features-buttons .nav {
  display: block !important;
}

.features-buttons .nav-link {
  position: relative;
  width: 260px;
  height: 80px;
  font-family: "Poppins";
  font-size: 20px;
  color: #ffffff;
  background: transparent;
  padding: 20px 50px !important;
  margin-bottom: 30px;
  border: 2px solid #ffffff;
  border-radius: 8px;
}

.features-buttons .nav-link::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 100%;
  top: 0;
  left: -20px;
  background: rgba(255, 255, 255, 0.26);
  border-radius: 19px;
}

.features-buttons .nav-link.active {
  background: #3189f9;
}

.features-buttons .nav-link.active::before {
  background: #ffffff;
}

.features-content-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 50px;
  column-gap: 80px;
}

.features-content h6 {
  position: relative;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  line-height: 33px;
  color: #ffffff;
}

.features-content h6::before {
  position: absolute;
  content: "";
  width: 30%;
  height: 4px;
  left: 0;
  bottom: -5px;
  background: rgba(255, 255, 255, 1);
  border-radius: 19px;
}

.features-content p {
  font-family: "Poppins";
  line-height: 26px;
  color: #ffffff;
  padding-top: 10px;
}

.features-shape {
  position: absolute;
  top: 10px;
  right: 0;
}

/* Features Section CSS End */

/* Support Section CSS Start */

.support-content h6 {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 500;
  color: #000000;
}

.support-content h4 {
  font-family: "Poppins";
  font-size: 28px;
  font-weight: 600;
  color: #283646;
}

.support-content p {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 400;
  line-height: 165%;
  color: rgba(0, 0, 0, 0.73);
  padding: 10px 0 50px;
}

.support-content a,
.support-content a:hover {
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  background: transparent;
  color: #242424;
  border: 2px solid #000000;
  border-radius: 4px;
  padding: 20px 30px;
}

/* Support Section CSS End */

/* Testimonial Section CSS Start */

.testimonial-top {
  text-align: center;
  padding-bottom: 50px;
}

.testimonial-top h2 {
  font-family: "Poppins";
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  color: #333333;
}

.testimonial-container::after {
  position: absolute;
  content: "";
  width: 170px;
  height: 170px;
  right: -60px;
  bottom: -60px;
  background: #3189f9;
  border-radius: 20px;
  z-index: -1;
}

.testimonial-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #ffffff;
  box-shadow: 2px 2px 29px rgba(0, 0, 0, 0.17);
  padding: 40px 30px;
  border-radius: 20px;
}

.testimonial-container .col-md-4 {
  display: flex;
}

.testimonial-content {
  flex: 1;
}

.client-info img {
  width: 85px;
  height: 85px;
  padding: 5px;
  border: 2px solid #3189f9;
  border-radius: 50%;
}

.client-info h4 {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.71);
  padding-left: 10px;
}

.testimonial-item p {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #666666;
  padding-top: 25px;
}

.client-country h5 {
  position: relative;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
  color: #333333;
}

.client-country h5::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 4px;
  left: 0;
  bottom: -10px;
  background: rgba(0, 0, 0, 0.73);
}

/* Testimonial Section CSS End */

/* Faq Section CSS Start */

.faq-top {
  max-width: 500px;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}

.faq-top h2 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 0.3px;
  color: #222222;
}

.faq-top p {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: #838383;
  padding-top: 10px;
}

.accordion-button {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2px;
  color: #222222;
  padding: 40px 0 15px;
}

.accordion-button:not(.collapsed) {
  color: #222222;
}

.accordion-button:focus {
  border: none;
  box-shadow: none;
  background: transparent;
}

.accordion-body {
  padding: 0;
}

.accordion-body p {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.2px;
  color: #838383;
}

/* Faq Section CSS End */

/* Main Part CSS End */

/* Footer Part CSS Start */

.promotion-wrapper {
  background: #013071;
  border-radius: 5px;
  margin: 80px 20px 0;
  padding: 60px;
  z-index: 1;
}

.promotion-overly {
  position: absolute;
  background: url(../images/promotion-overly.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.sign-up h2 {
  font-family: "Archivo";
  font-size: 40px;
  font-weight: 600;
  line-height: 130%;
  color: #ffffff;
}

.promo-code h4 {
  font-family: "Archivo";
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
}

.promo-code h5 {
  font-family: "Archivo";
  font-size: 24px;
  font-weight: 600;
  color: #00acfa;
}

.promotion-buttons {
  display: flex;
}

.get-started,
.get-started:hover {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  background: #00acfa;
  color: #ffffff;
  border: 1px solid #00acfa;
  border-radius: 4px;
  padding: 20px 40px;
  margin-right: 20px;
}

.contact-btn,
.contact-btn:hover {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  background: transparent;
  color: #00acfa;
  border: 1px solid #00acfa;
  border-radius: 4px;
  padding: 20px 40px;
}

/* Footer Copyright */

.footer-copyright {
  padding: 30px 0;
  text-align: center;
}

.footer-copyright p {
  font-family: "Archivo";
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  margin: 0;
}

/* Footer Part CSS End */
